body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

ul li {
  list-style-type: disc;
}
